[Unit]
Description=MCP9808 to NATS
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/mcp9808_2nats/target/release/mcp9808_2nats

[Install]
WantedBy=multi-user.target
